.apply-page {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
}

.company-box {
    width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.company-box h3 {
    font-size: 18px;
    margin-top: 0;
}

.company-box p {
    font-size: 16px;
}

.apply-button,
.applied-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button {
    background-color: #270991;
    color: #fff;
}

.apply-button:hover {
    background-color: #0056b3;
}

.applied-button {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}
